.section {
  background-color: var(--color-background);
  border-radius: var(--border-radius-xl);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
  color: var(--color-text);
  margin: 1.5rem auto;
  max-width: var(--width-content);
  padding: 1rem 1.5rem;
  width: 100%;
}

.dark {
  --color-background: #141925;
  --color-text: #fff;
  --color-text-light: #878b9a;
}

/*  
 Make application responsive. It is already for the most part, but it is not optimal for smaller screens.
*/
@media (min-width: 450px) {
  .section {
    margin: 3rem auto;
    padding: 2rem 3rem;
  }
}